body{
    display: flex;
    justify-content: center;
    height: 200px;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    /* margin-top: 50px; */
    /* align-items: center; */
}

#change-button{
    color: black;
    align-items: center;
    background-color: gray;
    /* height: 88px; */
    /* width: 193px; */
    border-radius: 5px;
    font-size: 50px;
    box-shadow: 10px;
    border-top: 2px solid black;
    padding: 30px 30px;
    /* margin-top: 80px; */
}
